Repository oarepo/oarepo-vocabularies, pull requests merged in 2023-07, with the labels that each got.

#60 Authoritative resource
  oarepo_vocabularies/authorities/ext.py
  oarepo_vocabularies/authorities/proxies.py
  oarepo_vocabularies/authorities/resources/__init__.py
  oarepo_vocabularies/authorities/resources/config.py
  oarepo_vocabularies/authorities/resources/resource.py
  oarepo_vocabularies/authorities/views.py
  oarepo_vocabularies/config.py
  oarepo_vocabularies/ext.py
  setup.cfg
  tests/conftest.py
  tests/test_authorities.py
Labels: backend, feat/vocabularies

#67 63 default config not handled in oarepo vocabularies
  oarepo_vocabularies/authorities/ext.py
  oarepo_vocabularies/authorities/ext_config.py
  oarepo_vocabularies/config.py
  setup.cfg
Labels: backend

#46 FE-17 CRU on Vocabularies
  oarepo_vocabularies/services/config.py
  oarepo_vocabularies/services/permissions.py
  oarepo_vocabularies/ui/resources/components.py
  oarepo_vocabularies/ui/resources/config.py
  oarepo_vocabularies/ui/templates/semantic-ui/oarepo_vocabularies_ui/detail.html
  oarepo_vocabularies/ui/templates/semantic-ui/oarepo_vocabularies_ui/list.html
  oarepo_vocabularies/ui/templates/semantic-ui/oarepo_vocabularies_ui/main.html
  oarepo_vocabularies/ui/templates/semantic-ui/oarepo_vocabularies_ui/sidebar.html
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/detail/DetailSearchApp.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/detail/Results.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/detail/index.js
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/DetailPageEditForm.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/VocabularyForm.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/VocabularyFormSchema.js
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/components/CurrentLocationInformation.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/components/FormikStateLogger.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/components/MultiLingualTextInput.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/components/PropFieldsComponent.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/components/PublishButton.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/components/ResetButton.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/components/VocabularyBreadcrumb.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/components/VocabularyBreadcrumbMessage.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/form/index.js
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/forms/index.js
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/search/components/NewItemButton.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/search/components/VocabularyButtonSidebar.jsx
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/search/components/index.js
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/search/index.js
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/util.js
  oarepo_vocabularies/ui/theme/assets/semantic-ui/js/oarepo_vocabularies_ui/utils.js
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/messages/cs/messages.po
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/messages/cs/translations.json
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/messages/de/messages.po
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/messages/de/translations.json
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/messages/el/messages.po
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/messages/el/translations.json
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/messages/en/messages.po
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/messages/en/translations.json
  oarepo_vocabularies/ui/theme/assets/semantic-ui/translations/oarepo_vocabularies_ui/package-lock.json
  oarepo_vocabularies/ui/theme/webpack.py
  setup.cfg
Labels: backend, frontend, feat/vocabularies
